body {
    background-color: #f9f9f9;
    color: #333333;
    font-family: VictorMono;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #40d97f;
    text-align: center;
  }

  .header_start{
    display: flex;
    width: 100%;
	  height: 70px;
    border: 2px solid hotpink;
    flex-direction: row;
  }

  .title_main-page{
    color: #000000;
    font-size: 20px;
    font-family: 'VictorMono',Arial,sans-serif;
    line-height: 1.2;
    font-weight: 300;
    background-position: center;
    border-color: transparent;
    border-style: solid;
    text-transform: uppercase;
  }
  
  
  
.page{
  display: flex;
  background-color: #40d97f;
    width: 100%;
	  height: 1000px;
    border: 2px solid hotpink;
}

  .content {
    background-color: #40d97f;
    border: 1px solid #dddddd;
    margin: 20px;
    padding: 20px;
  }
  
  .block h2 {
    font-size: 20px;
    margin-top: 0;
  }
  
  .block p {
    line-height: 1.5;
  }
  
  footer {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
    text-align: center;
  }